<%- include('partials/header-admin.ejs') %> 
<div >
    <%= foundcinema.location %>
    <img src="<%= foundcinema.logo %>"><br>
    <% foundcinema.theater.forEach(function(found){ %>
        <%= found.name %> 

        <form id = 'delete-form' action = '/admin/delete-theater/<%= foundcinema._id %>/<%= found._id %>?_method=DELETE' method='POST'>
            <button id="btn-delete" type='submit' class="btn btn-danger">Delete this theater</button>
        </form>
        
    <% }); %>


    
    
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Add theater to this cinema
</button>

<br>
<div class="modal fade modal-addnewone" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Cinema</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="/admin/add-theater/<%= foundcinema._id %>" method="post">
            <div class="form-group">
                <label  class="form-label">Theater Name</label>
                <input type="text" class="form-control" name="addtheater">		
            </div>
        </div>
      
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add New theater</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
</div>
</div>

<%- include('partials/footer.ejs') %> 