<%- include('partials/header-admin.ejs') %> 
<div>

    <p><%= foundmovie.name %></p>
    <img height="450px" width="300px" src="<%= foundmovie.image %>" alt="">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Add to theater
    </button><br>
    <div>

        <% foundlocation.forEach(function(location){ %>
            <% var count=0; %>
            <% location.theater.forEach(function(locationtheater){ %>
                <% foundtheater.forEach(function(theater){ %>
                    <% var count_theater = 0; %>
                    <% theater.movies.forEach(function(time){ %>
                        <% foundtime.forEach(function(showtime){ %>
                        
                          
                            <% if(String(time._id)===String(showtime._id) && String(foundmovie._id)===String(showtime.movies)  && String(locationtheater._id)===String(theater._id)){ %>
                                
                                <% if( count==0 ) {%> 
                                    <h4><%= location.location %></h4>
                                    <% count++; %>
                                <% } %>
                                <% if(count_theater == 0 && String(showtime.id_theater)===String(theater._id)){ %>
                                    <%= theater.nametheater %>
                                    <% count_theater++; %>
                               
                                <% } %>
                                <%= theater.nametheater %>
                                <%= showtime.time %>
                                <form id = 'delete-form' action = '/admin/delete-showtime/<%= time._id %>/<%= foundmovie._id %>?_method=DELETE' method='POST'>
                                    <button id="btn-delete" type='submit' class="btn btn-danger">Delete</button>
                                </form>
                                
                            <% } %>
                                
                            
                        <% }); %>
                    <% }); %>
                <% }); %>
            <% }); %>
        <% }); %>
     
    </div>
    
    
         
         
    

</div>

<!-- Modal add new cinema one -->
<div class="modal fade modal-addnewone" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add Movie to theater</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form action="/admin/add-movie-totheater/<%= foundmovie._id %>" method="post">
				<div class="form-group">
                    <label for="theater" class="form-label">Choose a Location:</label>
                    <select name="theater" id="theater">
                        <% foundtheater.forEach(function(theater){ %>    
                            <option value="<%= theater._id %>"><%= theater.nametheater%></option>
                        <% }); %>
                    </select> 
				</div>
				<div class="form-group">
              
                    <label for="time" class="form-label">Choose a showtime:</label>
                    <select name="time" id="time">
                        <option value="11.30">11.30</option>
                        <option value="13.30">13.30</option>
                        <option value="15.00">15.00</option>
                        <option value="17.30">17.30</option>
                        <option value="19.00">19.00</option>
                        <option value="20.00">20.00</option>
                    </select> 
                    		
                </div>
			
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Add New Cinema</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</form>
		</div>
	</div>
</div>


<%- include('partials/footer.ejs') %> 

