<%- include('partials/header-admin.ejs') %> 
<div class="cinema-admin">
    <% allcinema.forEach(function(cinema){ %>
        <%= cinema.location %>
       <img src="<%= cinema.logo %>" alt=""> 
       <a href="/admin/add-theater/<%= cinema._id %>"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Add theater to this cinema
        </button></a>
       <br>
	
    <% }); %>

</div>




<%- include('partials/footer.ejs') %> 